body {margin-top:0px; font-family:'Courier New';}
#inlog p { display: inline; }
#inlog { float:right; }
#muziek { position:absolute; bottom:0; }
#container {
position: absolute; top: 50%; left: 50%; width: 640px; height: 500px; margin: -250px 0 0 -320px;
 background-image:url('img/background.png'); background-repeat:no-repeat; }
#inhoud {position: absolute; top: 50%; left: 50%; width: 360px; height: 300px; margin: -152px 0 0 -180px; float:left; }
#div1 { float:left;width:180px;height:150px;}
#div2 { float:left;width:180px;height:150px;}
#div3 { width:360px;min-height:160px;}
#div3 p { text-align:center; display:inline; }
#div4 { width:360px;min-height:160px;}
#leftside { width:24px;height:258px; margin-left:106px; margin-top:111px; float:left;  }
#rightside { width:24px;height:258px; margin-left:510px; margin-top:111px; float:left; position:absolute; }
#hpbar { width:360px; height:20px; margin-top:405px; margin-left:140px;  }
#guest { width:180px;float:left; height:220px;}
#login { width:180px;float:left; height:220px;}
#start {width: 250px; height: 111px; margin-left:20px; margin-top:90px;}
img { border: 0px; }
a:link { text-decoration:none; color:#787878; } 
a:visited { text-decoration:none; color:#787878; }
a:hover { text-decoration:underline; color:#000000; }
a:active { text-decoration:underline; color:#787878; }
div.wig img{ opacity:1; }
div.wnig img{ opacity:0.4; }
div.wnig a:hover img{ opacity:1; }
#terug { position:absolute; bottom:0; text-align:right; }
